@import "https://use.fontawesome.com/releases/v5.9.0/css/all.css";
@import "https://fonts.googleapis.com/css?family=Overpass|Permanent+Marker";

#root {
   min-height: 100vh;
   background-color: #97a1a5;
   font-family: 'Overpass', Sans-Serif;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Permanent Marker', Cursive;
}

.App {
   width: 100%;
   max-width: 1024px;
   margin: 0 auto;
}

.App .filter-bar {
   background-color: #ececec;
   width: 100%;
   max-width: 1024px;
   padding: 5px;


   display: flex;
   flex-flow: row nowrap;
   justify-content: space-evenly;
}